user: henry.gaw
serial: True
bastion: bastion-1.cep.us-east-2.qa2.neo.evbg.io
hosts:
  - consul01.cep.us-east-2.qa2.neo.evbg.io
  - consul02.cep.us-east-2.qa2.neo.evbg.io
  - consul03.cep.us-east-2.qa2.neo.evbg.io
